@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 112.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  height: 100%;
  background-color: #19a2ae;
}

/* Position background svgs with pseudo-selectors */
.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  position: relative;
  font-family: "Kumbh Sans", sans-serif;
  overflow: hidden;
}
.wrapper:before, .wrapper:after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 100vh;
  background-size: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.wrapper:before {
  top: 0;
  left: 0;
  background: url("images/bg-pattern-top.svg") no-repeat bottom right;
}
.wrapper:after {
  top: 100%;
  left: 100%;
  background: url("images/bg-pattern-bottom.svg") no-repeat top left;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*
Hidden screen reader helper
courtesy grace-snow: https://github.com/grace-snow/fmentor_profile-card-component
 */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.profile-card-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  background: #fff;
  border-radius: 1rem;
  position: relative;
  width: 100%;
  min-width: 16.6666666667rem;
  max-width: 22.2222222222rem;
  box-shadow: 0 4rem 4rem -2rem #14808a;
}

.profile-card_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7.7777777778rem;
}
.profile-card_header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 7.7777777778rem;
  background: url("images/bg-pattern-card.svg") no-repeat center;
  background-size: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.profile-card_picture {
  border-radius: 50%;
  margin-top: -2.7777777778rem;
  border: 0.2777777778rem solid white;
  z-index: 1;
  order: 1;
}

.profile-card_main-info {
  text-align: center;
  color: #6a6f81;
  margin-top: 1.5rem;
  order: 2;
}

.profile-card_name, .profile-card_age {
  font-size: 1rem;
  display: inline-block;
}

.profile-card_name {
  font-weight: bold;
  color: #2d3248;
}

.profile-card_age {
  font-weight: normal;
  margin-left: 0.4rem;
}

.profile-card_city {
  font-size: 0.7777777778rem;
  margin-top: 0.7rem;
  order: 3;
  margin-bottom: 1.5rem;
  color: #6a6f81;
}

.profile-card_social-stats-list {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  flex-wrap: wrap;
  border-top: 1px solid rgba(150, 150, 150, 0.3);
  padding: 1.5rem 0.2rem;
}
.profile-card_social-stats-list > * {
  list-style-type: none;
  position: relative;
}
.profile-card_social-stats-list > *::before {
  content: "​";
  height: 0;
  display: block;
}

.profile-card_social-stat-item {
  text-align: center;
}

.profile-card_stat-count, .profile-card_stat-label {
  display: block;
}

.profile-card_stat-count {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2d3248;
}

.profile-card_stat-label {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #6a6f81;
}

/*# sourceMappingURL=style.css.map */
